@import url('https://fonts.googleapis.com/css2?family=Festive&family=Handlee&family=Inspiration&family=Merienda:wght@300..900&family=Mountains+of+Christmas:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Festive';
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(pexels-olly-716658.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:left; 
    align-items: center;
}

.countdowncontainer {
    color: rgb(138, 25, 10);
    font-family: 'Festive';
    padding: 30px;
    border-radius: 6px;
    position: absolute;
   
}
/* make the counter blink */
@keyframes blink{
    0%   {color: brown;}
  25%  {color: chocolate;}
  50%  {color: blue;}
  100% {color: black;}
}

.christmas {
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 20px; 
  
}

.counter {
    display: flex;
    justify-content: flex-start;
    font-size: 4rem;
    width: 100%;
    table-layout: fixed;
   
}

.counter td {
    padding: 10px;
    text-align: center;
   
}

#days,#hours,#minutes,#seconds{
    animation:blink 2s;
    animation-iteration-count: infinite;
}

